services:
  jellyfin-dev:
    image: jellyfin/jellyfin:10.11.3
    container_name: jellyfin-dev
    ports:
      - "8096:8096"
    volumes:
      - ./config:/config
      - jellyfin-cache:/cache
      - ~/Videos/Movies/:/media/Movies:ro
      - ../../clients/web-plugin:/jellyfin/jellyfin-web/plugins/opensyncparty:ro
      - ../../plugins/jellyfin/OpenSyncParty/dist:/config/plugins/OpenSyncParty

  plugin-builder:
    image: mcr.microsoft.com/dotnet/sdk:9.0
    working_dir: /src
    network_mode: host
    volumes:
      - ../../plugins/jellyfin/OpenSyncParty:/src
      - ../../plugins/jellyfin/OpenSyncParty/dist:/out
    command: dotnet publish -c Release -o /out OpenSyncPartyPlugin.csproj /p:UseLocalJellyfinRefs=true

volumes:
  jellyfin-cache:
